.Hero {
    margin-top: 60px;
    max-width: 500px;
    position: relative;
}

.Hero img {
    height: 168px;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    .Hero img {
        width: 100%;
        margin-top: 60px;
        max-width: 500px;
        position: relative;
    }
  }

